
#map {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#mainMenuButton {
	position: fixed;
	top: 95%;
  left: 50%;

}

.jvectormap-tip {
  border:  1px solid white;
  background: #4A7E2A;
  color: white;
  font-family: Arial;
  padding: 5px 15px;
  font-size:18px;
}

.jvectormap-tip span {
  font-weight: 700;
  font-size: 22px;
}

.list-group-custom{
	
  border-radius: 4px;
  max-height: 500px;
  overflow-y:scroll;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

#Sweden.list-group-item {
    opacity: 0;
    -webkit-transition: opacity 5s ease-in;
       -moz-transition: opacity 5s ease-in;
        -ms-transition: opacity 5s ease-in;
         -o-transition: opacity 5s ease-in;
            transition: opacity 5s ease-in;
}

#Sweden.list-group-item.load {
    opacity: 1;
}


