
#map {
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

#mainMenuButton {
	position: fixed;
	top: 95%;
  left: 50%;

}

.jvectormap-tip {
  border:  1px solid white;
  background: #4A7E2A;
  color: white;
  font-family: Arial;
  padding: 5px 15px;
  font-size:18px;
}

.jvectormap-tip span {
  font-weight: 700;
  font-size: 22px;
}

.list-group-custom{
	
  border-radius: 4px;
  max-height: 500px;
  overflow-y:scroll;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
          box-shadow: 0 1px 2px rgba(0, 0, 0, .075);
}

.anim-invisible {
    opacity: 0.01;
    -webkit-transition: opacity 1s ease-in, transform 1s ease-out;
       -moz-transition: opacity 1s ease-in, transform 1s ease-out;
        -ms-transition: opacity 1s ease-in, transform 1s ease-out;
         -o-transition: opacity 1s ease-in, transform 1s ease-out;
            transition: opacity 1s ease-in, transform 1s ease-out;
    transform: translateX(300px);
    z-index: 9999;
}

.anim-from-left {
  transform: translateX(-300px);
}

.load {
  opacity: 1;
  transform: translateX(0px);
}


#hiddenlogo {
  display: none;
}

.svglogo {
  width: 100%;
  overflow: visible;
}

.mark {
    animation: rota 2s ease infinite;
    animation-direction: alternate;
    transform-origin: -70 30;
    
}


@keyframes rota {
    0% {
        transform: rotate(-2deg);
        
    }
    100% {
        transform: rotate(0deg);
    }
}


#startButton, #settingsButton {
  position: relative;
}


.menu-lang {
  width: 80px;
  height: 20px;
  position: absolute;
  left: 0px;
  bottom: -50px;
  margin-bottom: 0px;
  
}

.menu-lang img {
  width: 40px;
  height: 40px;
  float: left;
  cursor: pointer;
  opacity: 0.75;
}

.menu-lang img:hover {
  opacity: 1;
}


button.popup:hover::before {
  transform: rotate(-15deg);
  transition: transform 0.1s ease-out 0s;
}
button.popup::before {
  border-radius: 5px;
  transform-origin: top left;
  color: #fff;
  content: "Go!";
  text-align: right;
  background-color: #d46a6a;
  left: 0;
  top: 0;
  display: block;
  padding: 5px;
  padding-left: 15px;
  height: 30px;
  transform: rotate(0deg);
  overflow: visible;
  width: 125px;
  z-index: -1;
  position: absolute;
  transition: transform 0.3s linear 0s;
