ul {
	list-style: none;
}

li .flag{
	padding-left: 30px;
    background-position: 0 center;
    background-repeat: no-repeat;
    background-size: 30px 15px;
    width: 40px;
    height: 20px;
    margin-right: 15px;
}